.basket-home{
    min-height: 85%;
    margin-bottom: 50px;

    @include respond-to($lg-break){
        top: 118px !important;
    };
}

.empty-basket{
    height: 40% !important;
}

.image-checkout-col{
    text-align: center;
    img{
        width: 100px;

        @include respond-to($md-break){
            width: 100px;
        };

        @include respond-to($lg-break){
            width: 120px;
        };
    }
}

.info-basket-column{
    padding-left: 0;
    padding-right: 0;

    .loader-screen{
        // border: 1px solid red;
        height: 700px;
        position: absolute;
        width: 100%;
        background-color: #fff;
        left: 0;
        right: 0;
        top: -20px;

        .spinner{
            // vertical-align: middle;
            top: 25%;
        }
    }
}

.basket-card{
    border: 0px solid;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0px !important;
    width: 100%;

}

.basket-item-container{
    // border: 1px solid blue;
    width: 80%;
    margin-left: auto;
}

.basket-info-container{
    // border: 1px solid blue;
    width: 69%;
    // margin-left: 0;

    .checkout-btn{
        // border: 1px solid blue;
        .btn{
            width: 100%;
        }
    }
}

.basket-card-body{
    padding-left: 0;
    padding-right: 0;

    .p-2{
        height: 100%;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        &:nth-child(1){
            width: 20%;
            // border: 1px solid red;
        }

        &:nth-child(2){
            width: 70%;
            // border: 1px solid green;

            // @include respond-to($lg-break){
            //     display: flex;
            //     flex-wrap: wrap;
            //     flex-direction: row;
            // };
        }

        &:nth-child(3){
            width: 10%;
            font-size: 1.3em;
            cursor: pointer;
            // border: 1px solid blue;

            @include respond-to($lg-break){
                font-size: 1.4em;
            };
        }

        @include respond-to($md-break){
            text-align: left;
        };
    }
}

.info-checkout-container{

    @include respond-to($lg-break){
        // width: calc(100%/4);
        // height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: left;

        p, h6{
            width: 100%;
            font-size: 14px;
            // padding: 10px;
        }

        &:nth-child(1){
            // width: 10%;
            // border: 1px solid red;
        }

        &:nth-child(2){
            // width: 10%;
            // border: 1px solid green;
        }

        &:nth-child(3){
            // width: 40%;
            // border: 1px solid orange;
            // text-align: center;

        }

        &:nth-child(4){
            // width: 20%;
            // border: 1px solid purple;
            font-size: 1.4em;
        }
    };

}
