// media queries
// Media Query Breakpoints
$xs: 0;
$sm-small-break: '(min-width: 568px)';
$sm-break: '(min-width: 576px)';
$md-break: '(min-width: 768px)';
$md-break-plus: '(min-width: 850px)';
$lg-break: '(min-width: 992px)';
$xl-break: '(min-width: 1200px)';
$xll-break: '(min-width: 1400px)';
$sm-break-max: '(max-width: 576px)';
$md-break-max: '(max-width: 767px)';
$lg-break-max: '(max-width: 991px)';
$xl-break-max: '(max-width: 1199px)';
$largephones: '(min-width: 400px)';
$bangers: "font-family: 'Bangers', cursive";
$ranchers: "font-family: 'Ranchers', cursive";
$barrio: "font-family: 'Barrio', cursive";
@mixin respond-to($media) {
	 @media only screen and #{$media}{
		@content;
	}
}

// animated classes

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated2 {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from, 11.1%, to {
    -webkit-transform: none;
    transform: none;
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1.7, 1.7, 1.7);
    transform: scale3d(1.7, 1.7, 1.7);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}




// animated classes end

.fa-close{
	cursor: pointer;
	transition: all .3s;
	&:hover{
		color: lighten(darkred, 4%);
	}
}


.title{
    padding: 0 0 10px 20px;
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

// colours

$white: #F2F2F2;
$darkblue: #001C26;
$coldblue: #425183;
// #01363F;
$artic2: #416B71;
$artic: #001C26;
$freshblue: #8CA1A4;

.inpFields{
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px;
    width: 80%;
    margin: 0 0 20px auto;
    outline: none;
}

.btn-primary{
	// background-color: lighten(darkred, 10%);
	background-color: #222;
	border: 2px solid #f2f2f2;
	box-shadow: 0 2px 332px #e5e5e5;

	&:hover{
		cursor: pointer;
		background-color: #EFEFEF;
		// color: lighten(darkred, 10%);
		color: #222;
		border: 2px solid darken(#222, 4%);
	}
}

.btn-info{
	background-color: #384E5B;
	border: 2px solid #f2f2f2;
	&:hover{
        cursor: pointer;
		background-color: #fff;
		color: #384E5B;
		border: 2px solid #384E5B;
        a{
            color: #384E5B;
        }
	}

    a{
        color: #fff;
    	&:hover{
    		color: #384E5B;
    	}
    }
}
