@import "general";
@import "reset";
@import "loader";
@import "login";
@import "account";
@import "basket";
@import "products";
@import "help";
@import "checkout";

.display-box{
	position: absolute;
	width: 800px;
	height: 500px;
	background-color: darkgreen;
	color: #fff;
	z-index: 1000000;
	overflow: scroll;

	pre{
		color: #fff;
	}
}

body, html{
	overflow: hidden;
	// font-family: 'Quicksand', sans-serif !important;
	height: 100%;
	width: 100%;
    min-width: 320px;
	background-color: #fff;
}

.section-heading{
	font-size: 1.6em;
	font-weight: bold;
	letter-spacing: 1px;
}

.loader-generic{
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	// border: 1px solid red;
	background-color: #fff;
	z-index: 10000;

	height: 1300px;

	.spinner{
		margin-top: 85%;

		@include respond-to($sm-break){
				margin-top: 25%;
		};

		@include respond-to($md-break){
				margin-top: 45%;
		};

		@include respond-to($lg-break){
				margin-top: 25%;
		};
	}
}

// footer scss code

.email-subscribe-bar{
	background-color: #222;
	padding: 1px 10px 10px 10px;
	-webkit-transition: all .5s;
	transition: all .5s;
	height: 60px;

	form{
		input{
			margin-bottom: 0;
		}
		.p-2{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;

			&:nth-child(1){
				width: 5%;
				color: #f2f2f2;
				cursor: pointer;
				font-size: 1.2em;
				// background-color: red;

				@include respond-to($lg-break){
					width: 5%
				};
			}

			&:nth-child(2){
				width: 60%;
				// background-color: red;

				@include respond-to($lg-break){
					width: 85%
				};
			}

			&:nth-child(3){
				width: 30%;
				// background-color: orange;
				button{
					font-size: 0.8em;
				}

				@include respond-to($lg-break){
					width: 10%
				};
			}
		}
	}
}

footer{
	position: relative;
	text-align: center;
	top: 60px;
	background-color: #222;

	@include respond-to($md-break){
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: left;
		top: 255px;
	};

	@include respond-to($lg-break){
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: left;
		top: 255px;
	};

	a{
		color: #f2f2f2;
	}

	.card{
		border-radius: 0;
		border: 0px;

		@include respond-to($md-break){
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
		};
	}

	.card-header{
		background-color: #222;
		border-radius: 0px !important;
		@include respond-to($md-break){
			border-bottom: 0px;
		};
	}

	#accordion{
		@include respond-to($lg-break){
			width: 95%;
			margin: 0 auto;
		};
	}
}

.footer-collapse{
	background-color: #222;

	a{
		cursor: pointer;
		&:hover{
			text-decoration: none;
			color: #fff;

		}
	}
	ul{
		@include respond-to($md-break){
			padding-left: 15px;
		}
	}

	li{
		padding: 5px;
		color: #f2f2f2;
		text-transform: uppercase;
		font-size: 0.8em;
	}
}

#contact-info{
	li{
		text-transform: lowercase !important;

		&:nth-child(3){
			text-transform: capitalize !important;
		}

		&:nth-child(4){
			text-transform: capitalize !important;
		}

	}
}
// footer scss code




// BRANDS START SCSS CODE

.brands-home{
	@include respond-to($lg-break){
		top: 105px !important;
	};
}

.brand-title-listing{
	a{
		color: #222;
		font-weight: 200;
	}
}

// BRANDS END

//  GUEST ADD DELIVERY DETAILS SCSS Code

.details-add-home{
	margin-bottom: 50px;

	@include respond-to($lg-break){
		top: 105px !important;
	};
}

.personal-details-guest{
	position: relative;
	border: 1px solid green;
	padding-bottom: 50px;
}

.shipping-details-guest{
	position: relative;
	border: 1px solid blue;
	padding-top: 30px;
	padding-bottom: 50px;
}

.disabled-details{
	opacity: 0;
	z-index: -1;
}

.disabled-shipping{
	opacity: 0.6;
	z-index: 10;
}

.disabled-layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #e5e5e5;

	-webkit-transition: all .5s;

	transition: all .5s;
}


//  GUEST ADD DELIVERY DETAILS SCSS Code

.active-nav-link{
    border-bottom: 2px solid;
}

#searchInput{
	margin-bottom: 0px !important;
	border: 0px;
	background-color: #222;
	-webkit-box-shadow: 0px 0px 0px !important;
	        box-shadow: 0px 0px 0px !important;
}

.dropdown-user-account{
	width: 85px;
	max-width:105px;

	a{
		position: relative;
		span{
			&:nth-child(1){
				position: absolute;
				top: 4px;
			}
			&:nth-child(2){
				position: absolute;
				right: 0;
				top: 6px;

			}
		}
	}

	@include respond-to($lg-break){

	};
}

.desktop-login-help{
	width: 190px;

	.dropdown-toggle::after {
	    position: absolute;
	    top: 8px;
	    right: 13px;
		display: none;
	}

	a{
		// width: 50%;
		// display: inline-flex;
	}

	.dropdown-menu{
		top: 10px !important;
		background-color: #222;
		border: 2px solid lighten(#222, 3%);
		width: 50%;
		// display: inline-flex;

		a{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: flex-end;
			    -ms-flex-pack: flex-end;
			        justify-content:flex-end;
		}

	}

}

.loggedin-btns{
	// border: 1px solid gold;

	.lg-box{
		width: 50% !important;
		&:nth-child(2){
			display: inline-block !important;
		}
	}
}

.custom-menu-open{
	right: 0;
	-webkit-transition: all .6s;
	transition: all .6s;
}

.custom-menu-closed{
	right: -250px;
	-webkit-transition: all .4s;
	transition: all .4s;
}

nav{
    // border: 1px solid red !important;
    // box-shadow: 0 0 20px #e5e5e5;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.desktop-login-help{
	position: absolute;
	top: 0;
	right: 30px;
	// display: flex !important;
	// height: 100%;
	// align-items: center;

	.custom-menu{
		position: absolute;
		background-color: #222;
		top: 30px;
		-webkit-transition: all .6s;
		transition: all .6s;
		z-index: 999999;
		text-align: right !important;
		-webkit-box-shadow: 0px 0px 1px #e5e5e5;
		        box-shadow: 0px 0px 1px #e5e5e5;

		a{
			color: #fff;
		}
	}

	a{
		// color: #fff;
		color: #222;
		text-transform: uppercase;
		font-size: 0.6em;
	}

}

.dsktp-a{
	width: 50%;
	position: absolute;
	padding-top: 5px;

	&:nth-child(1){
		right: 100px;
		text-align: right;
	}

	&:nth-child(2){
		right: 0;
	}

}

.mobile-login-help{
	height: 20px;
	background-color: #222;
	width: 100%;
	position: relative;
	z-index: 102;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	border-bottom: 0px;

	.custom-menu{
		position: absolute;
		background-color: #222;
		top: 20px;
		-webkit-transition: all .6s;
		transition: all .6s;

	}

	a{
		color: #fff;
		text-transform: uppercase;
		font-size: 0.5em;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		&:nth-child(1){
			margin-right: 10px;
		}

		&:nth-child(2){
			padding-right: 5px;
		}
	}
}

#nav-main{
    position: relative;
    z-index: 101;
    // background-color: #EFEFEF;
	background-color: #222;
	// background-color: #222;

	@include respond-to('(max-width: 768px)'){
		background-color: #222;
		color: #f2f2f2;
	};

	@include respond-to($lg-break){
		background-color: #d2d2d2;
	};

    .p-2{
        max-height: 100px;
        &:nth-child(2){
            width: calc(45%/2);
            // background-color: #e5e5e5;
        }
        &:nth-child(4){
            width: calc(45%/2);
			@include respond-to($md-break){
				text-align: end;
			};
            // background-color: #e5e5e5;
        }

        &:nth-child(1){
            width: 55%;
            text-align: center;
        }

        &:nth-child(3){
            display: none;
        }


        @include respond-to($lg-break){
            &:nth-child(1){
                width: 100%;
                // border: 1px solid green;
                max-height: 65px;
                // background-color: #222;
				// background-color: ;
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                // border: 1px solid dodgerblue;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: 100%;
				font-weight: 600;
				font-size: 12px;
            }
            &:nth-child(4){
                display: none;
            }
        };
    }
}

.links-nav{
    // background-color: #d2d2d2;
	// border: 1px solid red;
	top: 5px;
	background-color: #222;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: relative;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	height: 70px;

    ul{
        width: 80%;
        // border: 1px solid black;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

        li{
            display: inline-block;
            // border: 1px solid black;
            padding: 10px;

            a{
                // color: #010101;
				color: #f2f2f2;
            }

			@include respond-to($md-break){

			};
        }
    }

    .search-basket-nav{
        position: absolute;
        width: 20%;
        top:20px;
        left: auto;
        right: 0;
        font-size: 1.5em;
		color: #222;
		padding-right: 40px;
		text-align: end;

		@include respond-to('(max-width: 767px)'){
			color: #fff;
		};

        // border: 1px solid pink;

    }
}

.search-listing-values{
	height: 220px;
	// border: 1px solid red;
	overflow-x: hidden;
	overflow-y: scroll;
}

.menu-nav{
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.logo-box{
	// border: 1px solid red;
	width: 3.5%;
	position: absolute;
	z-index: 100;
	top: 21px;
	left: 40px;
	cursor: pointer;

	img{
		// border: 1px solid gold;
		width: 100%;
	}
}

.logo-nav{
	position: relative;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	@include respond-to($lg-break){
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	};

    img{
        width: 27%;
		position: relative;
        max-height: 80px;
		top: 6px;

        @include respond-to($sm-break){
            max-width: 72px;
        }

        @include respond-to($md-break){
            // max-width: 120px;
			top: 6px;
        }

		@include respond-to($md-break){
            max-width: 62px;
			top: 6px;
        }
    }
}

.vue-hidden{
    visibility: hidden;
}

.main-menu{
    padding: 0 !important;
	width: 100%;
    h4{
        font-size: 1.2em;
        text-align: center;
        padding: 10px 0 10px 5px;
        font-weight: bold;
    }

	a{
        // padding-left: 20px;
        color: #010101;
        // &::before{
        //     content: '\002d \00a0'
        // }
    }
}

.menu-btn{
    width: 100%;
    max-width: 100%;
    -webkit-transform: scale(0.6) translate(-30%, 0);
            transform: scale(0.6) translate(-30%, 0);
    position: relative;
    top: 8px;
    left: 5px;

	@include respond-to($md-break){
		left: -25px;
	};

    .bar{
        width: 38px;
        margin: 5px auto;
        height: 5px;
        // border: 1px solid #d2d2d2;
        background-color: #f2f2f2;
    }
}

// menu open & closed classes

.menu-closed{
    // display: none;
    // top: -100%;
    -webkit-transform:translate(0, -115%);
            transform:translate(0, -115%);
    -webkit-transition: all 1s;
    transition: all 1s;

	@include respond-to($md-break){
		-webkit-transform:translate(0, -135%);
		        transform:translate(0, -135%);
	};
}

.menu-open{
    -webkit-transform:translate(0, 0%);
            transform:translate(0, 0%);
    // top: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
}

//

.menu-box{
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: #f2f2f2;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 0 20px #e5e5e5;
            box-shadow: 0 0 20px #e5e5e5;
	border-bottom: 1px solid #d2d2d2;
	height: 500px;
	overflow-y: scroll;

	@include respond-to($lg-break){
		height: 330px;
		overflow-y: hidden;
	};

    .nav-link{
        border-radius: 0;
        &.active{
            -webkit-transition: all .2s;
            transition: all .2s;
            // background-color: #e5e5e5;
            background: url('/assets/main/dust_scratches.png');
            background-position: center;
            font-weight: bold;
            text-shadow: 1px 0px grey;
            font-size: 1.2em;
        }

        a{
            color: #010101;
        }

        @include respond-to($md-break){
            // width: 25%;
            border: 1px solid lighten(#d2d2d2, 10%);
            padding: 30px;
            text-align: center;
        };
    }

    // .p-2{
	// 	width: 100%;
    //     // &:nth-child(1){
    //     //     width: 40%;
    //     // }
    //
    //     @include respond-to($md-break){
    //
    //         width: 100%;
    //     };
    // }

}

.content-livingroom-nav{
	.p-2{
		// border: 1px solid green;
		height: 300px;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		&:nth-child(1){
			width: 25%;
			border-right: 1px solid #d2d2d2;
		}

		&:nth-child(2){
			width: 75%;
			position: relative;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
	}

	.nav-box{
		height: 200px;
		border: 1px solid #d2d2d2;
		width: calc(96%/3);
		padding: 10px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		background-size: cover !important;
		background-position: center !important;
		margin-right: 15px;
		margin-top: 30px;



		&:nth-child(1){
			margin-left: 12px;
		}

		@include respond-to($xl-break){
			height: 280px;
			//
		};
	}

	.cta-content{
		position: relative;
		color: #f2f2f2;
		width: 100%;
		// background-color: #f2f2f2;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-line-pack: center;
		    align-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		text-align: center;
		z-index: 4;
	}

	.cta-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #222;
		opacity: 0.5;
		// border: 2px solid pink;
		z-index: -1;
	}

	.cta-item{
		width: 100%;
		padding-bottom: 10px;
	}

	.cta-title{
		font-weight: bold;
		text-transform: uppercase;
	}

	.cta-msg, .cta-link{
		font-weight: 400;
		font-size: 0.75em;
		padding: 8px;
		a{
			color: #f2f2f2;
		}
	}

	.close-menu{
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 1.2em;
		// border: 1px solid red;
		// background-color: gold;
	}
}

.dl-box-content-nav{
	width: 100%;
	// padding-top: 30px;

	ul{
		// border: 1px solid black;
		padding-left: 5px;

	}
}

.nav-menu-link{
	// padding: 10px 0 10px 0;
	// background-color: gold;
	margin: 5px auto;
	// margin: 10px auto 10px auto;

	a{
		text-transform: capitalize;
	}
}



.mobile-collection-links{
	text-align: center;
	.btn-menu-link{
		border-radius: 0;
		width: 100%;
		border: 1px solid #d2d2d2;
		background-color: darken(#d2d2d2, 4%);
		font-weight: bold;
		// background-color: red;

		padding: 25px 0 25px 0;
		text-transform: uppercase;

		&:nth-child(1n+2){
			// background-color: gold;
			margin-top: 30px;
		}

		@include respond-to($md-break){
				padding: 35px 0 35px 0;
		};
	}

	p{
		margin-bottom: 20px;
	}
}

.menu-link{
    // border: 1px solid red;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lighten(#d2d2d2, 10%);
    > div{
        display: inline-block;
        width: 80%;
        padding-right: 20px;

    }

    &:hover{
        -webkit-transition: all .2s;
        transition: all .2s;
        background: -webkit-gradient(linear, left top, right top, from(rgb(46, 49, 52)), to(rgb(135, 140, 145)));
        background: linear-gradient(90deg, rgb(46, 49, 52), rgb(135, 140, 145));
        background: none;
        font-weight: bold;
        span{
            -webkit-transition: all .2s;
            transition: all .2s;
            -webkit-transform: scale(1.8);
                    transform: scale(1.8);
        }
    }


    @include respond-to($md-break){
        width: 50%;
        display: inline-block;
    };
}

// search bar open & closed css styles

.f-active{
    color: darkgoldenrod !important;
}

.f-bskt-active{
	color: lighten(forestgreen, 10%);
}

.search-hidden{
    height: 0px;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.search-open{
    height: 48px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

// search bar open & closed css styles

.search-bar{
    border-top: 1px solid #222;
    background-color: #222;
    position: relative;
	width: 100%;
	float: right;
    // z-index: 101;

	@include respond-to($md-break){
		border-top: 1px solid #D2D2D2;
	};

	@include respond-to($lg-break){
		border-top: 1px solid #D2D2D2;
		width: 330px;
	};
}


.search-input{
    opacity: 0;
}

.search-listings{
	display: none;
}

.search-listing-values{
	li{
		background-color: #e5e5e5;
		// border-top: 0px;


		&:first-child{
			border-top-left-radius: 0rem;
			border-top-right-radius: 0rem;
		}

		a{
			color: #222;
			text-transform: capitalize;
		}

		&:hover{
			background-color: #222;
			cursor: pointer;
			> a{
				color: #f2f2f2;
			}
		}
	}
}

#search-form{
    .p-2{
        &:nth-child(1){
            width: 100%;

            @include respond-to($sm-break){
                // width: 70%
            };
        }

        &:nth-child(2){
            width: 10%;
            span{
                width: 100%;
                font-size: 1.2em;
            }

            @include respond-to($sm-break){
                width: 10%;
            };
            @include respond-to($sm-break){
                width: 9%;
            };
        }
    }
}



.inpField{
    padding: 4px 4px 4px 20px;
    border: 1px solid darken(#f2f2f2, 6%);
    float: right;
    width: 100%;
    border-radius: 10px;

    @include respond-to($sm-break){
        width:100%;
    };

    // @include respond-to($md-break-plus){
    //     width: 0%;
    // };
	//
    // @include respond-to($lg-break){
    //     width: 50%;
    // };
	//
    // @include respond-to($xl-break){
    //     width: 50%;
    // };

}

.search-basket-nav{
	-webkit-box-ordinal-group: 4;
	    -ms-flex-order: 3;
	        order: 3;

	@include respond-to('(max-width: 340px)'){
		font-size: 1.05em;
	};

    text-align: center;
    font-size: 1.2em;

    span{
        padding: 5px;
        cursor: pointer;
		color: #fff;

		@include respond-to($lg-break){
			// color: #222;
			color: #f2f2f2;
		};

        &:nth-child(1){
            &:hover{
                color: darkgoldenrod;
            }
        }

        &:nth-child(2){
            &:hover{
                color: lighten(forestgreen, 10%);
            }
        }
    }
}

.basket-box{
	// border: 1px solid darken(#F2F2F2, 3%);
	// background-color: #F2F2F2;
	border-bottom: 1px solid #d2d2d2;
	height: 400px;
	width: 100%;
	overflow-y: scroll;
	position: absolute;
	-webkit-transition: all .4s;
	transition: all .4s;
	z-index: 100;
	right: 0;
	top: 87px;

	@include respond-to($md-break){
		width: 45%;
		height: 500px;
	};

	@include respond-to($lg-break){
		width: 30%;
		height: 550px;
	};

	@include respond-to($xl-break){
		// width: 40%;
	};


}

.custom-divider{
	width: 30%;
	margin: auto;
}


#basket-container{
	// height: 300px;
	// overflow-y:scroll;
	// overflow-x: hidden;
	// background-color: lighten(#d2d2d2, 10%);
	background-color: #fff;

	.p-2{
		width: 100%;
		height: 132px;
		padding-top: 20px !important;

		&:nth-child(2n+1){
			// background-color: lighten(#d2d2d2, 10%);
			background-color: #fff;
		}

		&.basket-info{
			height: 77px;
			padding: 15px !important;
			background-color: #222;
			color: #fff;
		}
	}

	.item{
		img{
			width: 25%;
			max-height: 90px;
			margin-top: 10px;
			float: left;
		}

	}

	#item-details{
		// border: 1px solid green;
		padding-left: 20px;
		float: left;
		width: 60%;
		height: 100px;
		margin-top: 10px;
		h4{
			font-size: 14px;
		}

		p{
			font-size: 12px;
		}
	}

	.acc-total{
		font-weight: bold;
	}

	.item-delete{
		// border: 1px solid orange;
		float: right;
		width: 15%;
		height: 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		font-size: 1.4em;

		span{
			cursor: pointer;
		}
	}

	.empty-message{
		width: 100%;
		text-align: center;
		padding: 20px;
	}

	@include respond-to($md-break){

	};
}

.basket-info{
	span{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
}

.hasItems{
	color: lighten(forestgreen, 10%) !important;
}

.checkout-info{
	// background-color: lighten(#d2d2d2, 6%);
	height: 190px !important;

	.total-box{
		// background-color: #010101;
		// color: #fff;
		font-weight: bold;
		text-align: center;
		padding: 10px;

	}

	.btn{
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.basket-closed{
	-webkit-transform: translate(103%, 0%);
	        transform: translate(103%, 0%);
}

.basket-open{
	-webkit-transform: translate(0%, 0%);
	        transform: translate(0%, 0%);
}


// home page slide show styles
.slideshow-div{
	text-align: center;
	color: #f2f2f2;

	h1{
		margin-top: 50px;
		font-weight: bold;
		padding: 5px 0 5px 0;

		@include respond-to('(max-width:767px)'){
			font-size: 1.6em;
		};

		@include respond-to($sm-break){
			margin-top: 120px;
		};

		@include respond-to($md-break){
			margin-top: 230px;
		};



	}
	h4{
		padding: 5px 0 5px 0;
		font-weight: 300;
		letter-spacing: 2px;
		@include respond-to('(max-width:767px)'){
			font-size: 1.1em;
		};

	}
	a{
		margin-top: 30px;
		width: 150px;
		font-size: 0.8em;
	}
}

.slider-column{
	padding-left: 0px;
	padding-right: 0px;
}

.home{
	position: relative;
	top: 88px;
	min-height: 50%;

	@include respond-to($lg-break){
		top: 75px;
	};
}

.generic-container-position{
	position: relative;
	top: 88px;
	min-height: 50%;
	margin-bottom: 90px;

	@include respond-to($lg-break){
		top: 115px;
	};
}

.story-content{
	p{
		margin-bottom: 20px;

		@include respond-to($lg-break){
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		};
	}

	img{
		// margin-top: 50px;
		position: relative;
		top: 50px;
		display: block;
		width: 45%;
		margin-left: auto;
		margin-right: auto;

		@include respond-to($md-break){
			top: 100px;
		};
	}

	.story-logo{
		width: 50%;
		margin: 0 auto;

		img{
			width: 100%;
		}
	}
}

.home-slide{
    div{
        width: 100%;
        height: 200px;
        background-size: cover !important;
        background-position: center !important;

		@include respond-to($sm-break){
            height: 450px;
        };

        @include respond-to($md-break){
            height: 550px;
        };

        @include respond-to($lg-break){
            // height: 427px;
        };

        @include respond-to($xl-break){
            height: 630px;
        };
    }
}

.home-main{
	.row{
		@include respond-to($lg-break){
			width: 95%;
			margin: 0 auto;
		};
	}
}

.cat-home-box{
	cursor: pointer;

	a{
		&:hover{
			color: #f2f2f2;
		}
	}
}

.category-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px solid;
	color: #fff;
	font-size: 1.1em;
	// text-shadow: 2px 0px #010101;

	.card-img-bgrnd{
	    height: 127px;
		width: 100%;
		margin: 0 auto;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($xs-large-break){
			height: 135px;
		};

		@include respond-to($sm-break){
			height: 215px;
			font-size: 1.3em;
		};

		@include respond-to($md-break){
			height: 140px;
			width: 100%;
		};

		@include respond-to($lg-break){
			height: 182px;
			width: 100%;
		};

		@include respond-to($xl-break){
			height: 270px;
			width: 100%;
		};
	}

	.card-text{
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;

		@include respond-to($lg-break){
			font-size: 1.3em;
		};
	}

}

.blog-date{
	margin-top: 10px;
	font-weight: bold;
}

.button-box{
	padding-top: 15px;
}

.custom-separate{
	margin: 30px auto;
	width: 100%;
	height: 2px;
	background-color: #f2f2f2;
	border: 1px solid darken(#f2f2f2, 5%);
}

.featured-prod-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px;

	.card-img-bgrnd{
	    height: 120px;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($md-break){
			height: 150px;
		};
	}

	.card-body{
		text-align: center;
		padding: 10px 0 10px 0;

		h6{
			font-size: 12px;
			font-weight: 400;
		}

		a{
			color: #222;
		}
	}
}

.blog-post-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px;

	.card-img-bgrnd{
	    height: 410px;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($md-break){
			height: 520px;
		};
	}

	.card-title{
		font-size: 1.3em;
		font-weight: bold;
	}

	.card-body{
		padding: 10px 0 10px 0;
	}

	.post-details{
		font-size: 0.8em;
		font-style: italic;
		font-weight: 100;
	}

	a{
		position: relative;
		top: 10px;
		color: #010101;
		font-weight: bold;
	}
}

.breadcrumb-container{
	nav{
		display: block;
		top: 88px;
		left: 0;
		z-index: 1;
		-webkit-box-shadow: 0 0 0;
		        box-shadow: 0 0 0;

		// @include respond-to('(max-width: 340px)'){
		// 	top: 91px;
		// };

		@include respond-to($sm-break){
			top: 85px;
		};

		@include respond-to($md-break){
			top: 87px;
			height: 43px;
		};

		@include respond-to($lg-break){
			top: 91px;
		};
	}
}

.breadcrumb-item{

	@include respond-to('(max-width: 340px)'){
		font-size: 0.8em;
	};

	a{
		color: #010101;
	}
}

.breadcrumb{
	background-color: #fff;
	font-size: 0.7em;
	padding-left: 1.4rem;
	text-transform: uppercase;

	@include respond-to($md-break){
		padding-left: 2.5rem;
		font-size: 0.9em;
	};
	@include respond-to($lg-break){
		// padding-left: 7rem;
	};

	li{
		&:nth-child(1n+2){
			&::before{
				content: '>'
			}
		}

	}
}


// products page styling

.products-container{
	position: relative;
	top: 130px;
	// border: 1px solid black;
	margin-bottom: 80px;

	img{
		width: 100%;
		min-height: 130px;
		// height: auto;
	}


	@include respond-to($sm-break){
		top: 125px;
	};

	@include respond-to($md-break){
		top: 165px;
	};

	@include respond-to($lg-break){
		width: 90%;
		margin: auto;
	};

}


.product-image-main{
	width: 100%;
	// height: 200px;
	// border: 1px solid #d2d2d2;
	@include respond-to($md-break){
		width: 94%;
		margin: 0 auto;
	};

	@include respond-to($lg-break){
		// width: 70%;
	};

	// @include respond-to($xl-break){
	// 	text-align: center;
	// 	img{
	// 		width: 90%;
    //
	// 	}
	// 	width: 70%;
	// };

}

.prodimg-box{
	width: 100%;
	text-align: center;
	// border: 1px solid red;
	img{
		width: calc(95%/4);
		cursor: pointer;
		// display: inline-flex;

		@include respond-to('(max-width: 340px)'){
			width: calc(95%/4);
		};

		@include respond-to($lg-break){
			// width: 90%;
		}
	}

	@include respond-to($md-break){
		width: 94%;
		margin: 0 auto;
	};

	@include respond-to($lg-break){
		// width: 30%;
		margin: 0 auto;
		position: relative;
		// top: -130px;
		-webkit-transition: all .3s;
		transition: all .3s;
	};

}

.active-img{
	border: 2px solid #d2d2d2;
	-webkit-filter: opacity(0.5);
	        filter: opacity(0.5);
}

.product-image-small{
	width: calc(100%/3);
	height: 100px;

	&:nth-child(3){
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;

	}

	@include respond-to($lg-break){
		width: calc(100%/3);
	};
}

.product-info-sp{
	width: 97.5%;
	margin: 0 auto;

	ul{

	}

	li{
		&:nth-child(1){
			font-weight: bolder;
			padding-bottom: 10px;
		}

		&:nth-child(2){
			padding: 0 0 25px 0;
			font-size: 0.9em;

			@include respond-to($lg-break){
				font-size: 1.3em;
			};
		}

		&:nth-child(3){
			text-transform: uppercase;
		}

		text-align: center;
	}
}

.addBasket-row{
	// max-width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	height: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	.box{
		width: 25%;
		border: 1px solid #222;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-line-pack: center;
		    align-content: center;
		padding-top: 1px;

		&:nth-child(2n+2){
			// background-color: red;
		}

		&:nth-child(1){
			width: 11%;

			@include respond-to($xl-break){
				width: 7%;
			};
		}
		&:nth-child(2){
			width: 11%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			font-size: 0.5em;
			border: 1px solid #d2d2d2;
			p{
				width: 100%;
				cursor: pointer;
				-webkit-transition: all .3s;
				transition: all .3s;

				&:nth-child(1){
					border-bottom: 1px solid #d2d2d2;
				}

				&:nth-child(2){
					span{
						position: relative;
						top: 3px;
					}
				}

				span{

					&:hover{
						-webkit-transform: scale(1.3);
						        transform: scale(1.3);
					}
				}
			}

			@include respond-to($xl-break){
				width: 7%;
			};
		}
		&:nth-child(3){
			width: 66%;
			cursor: pointer;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			padding-left: 13px;
			background-color: #222;
			color: #fff;
			font-size: 14px;
			font-weight: bold;
			p{
				position: relative;
				top: 1px;
			}


			@include respond-to($lg-break){
				width: 68%;
			};

			@include respond-to($xl-break){
				width: 79%;
			};
		}
		&:nth-child(4){
			border: 0px;
			width: 10%;
			span{
				font-size: 1.3em;
				position: relative;
				top: 2px;
				cursor: pointer;
				-webkit-transition: all .3s;
				transition: all .3s;

				&:hover{
					-webkit-transform: scale(1.3);
					        transform: scale(1.3);
				}
			}

			@include respond-to($xl-break){
				width: 7%;
			};
		}
	}
}

.quantity-controls{
	p{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-line-pack: center;
		    align-content: center;
	}
}

#prod-description{
	// font-weight: normal;
	ul{
		margin-top: 10px;
		li{
			&:before{
				content: '-'
			}
		}
	}

}

.pr-info-card{
	border: 0;

	.card-header{
		text-transform: uppercase;
		padding-left: 2px;
		padding-bottom: 10px;
		background-color: #fff;
		border-top: 1.2px solid #d2d2d2;
		border-radius: 0px;
		border-bottom: 0;

		a{
			font-size: 14px;
			font-weight: bold;
			color: #222222;

			&:hover{
				text-decoration: none;
			}

			span{
				float: right;
				font-size: 0.7em;
			}
		}
	}
}

.related-products{
	padding-top: 40px;

	hr{
		margin-bottom: 35px;
		background-color: #d2d2d2 !important;
	}

	@include respond-to($md-break){
		margin-bottom: -120px;
	};

	@include respond-to($lg-break){
		margin-bottom: -80px;
	};


	h5{
		text-transform: uppercase;
		font-weight: bolder;
		padding-bottom: 20px;
	}

	.card-img-bgrnd{
		@include respond-to($lg-break){
			height: 120px;
		};

		@include respond-to($xl-break){
			height: 140px;
		};

	}

	.card-title{
		font-size: 1em;
	}
}


.blog-main-image{
	margin-top: 88px;
	// border: 1px solid red;
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;
	position: relative;
	height: 250px;

	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: #030708;
		opacity: 0.6;
		z-index: 1;
	}

	.heading{
		color: #f2f2f2;
		position: relative;
		z-index: 10;
		padding-bottom: 5px;
		-webkit-transform: translate(0, 40px);
		        transform: translate(0, 40px);

		@include respond-to($md-break){
			font-size: 4em;
		};
	}

	.date{
	    position: relative;
	    z-index: 10;
	    color: #f2f2f2;
		font-size: 0.9em;
		font-weight: 400;
	    -webkit-transform: translate(0, 50px);
	            transform: translate(0, 50px);
	}


	@include respond-to($md-break){
		height: 350px;
	};

	@include respond-to($lg-break){
		height: 450px;
		// margin-top: 118px;
	};

	@include respond-to($xl-break){

	};
}

.blog-post-body{
	// border: 1px solid green;
	top: 0 !important;

	h1,h2,h3,h4,h5,h6{
		margin-bottom: 20px;
	}

	p{
		padding-bottom: 15px;
		text-align: justify !important;

		@include respond-to($md-break){
			width: 80%;
			margin: auto;
		};

		@include respond-to($lg-break){

		};
	}

	img{
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}


	@include respond-to($md-break){
		margin-bottom: -50px;
	};
}

.post-col{
	padding-top: 10px;
}

.all-blog-posts{
	margin-bottom: 50px;
	@include respond-to($lg-break){
		top: 110px;
	};
}






.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
