@import "general";
@import "reset";
@import "loader";
@import "login";
@import "account";
@import "basket";
@import "products";
@import "help";

body, html{
	// overflow: hidden;
	// font-family: 'Quicksand', sans-serif !important;
	height: 100%;
	width: 100%;
    min-width: 320px;
	background-color: #fff;
}

// footer scss code

footer{
	position: relative;
	text-align: center;
	top: 60px;
	background-color: #222;

	@include respond-to($md-break){
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: left;
		top: 255px;
	};

	a{
		color: #f2f2f2;
	}

	.card{
		border-radius: 0;
		border: 0px;

		@include respond-to($md-break){
			display: inline-flex;
		};
	}

	.card-header{
		background-color: #222;
		border-radius: 0px !important;
		@include respond-to($md-break){
			border-bottom: 0px;
		};
	}

	#accordion{
		@include respond-to($lg-break){
			width: 95%;
			margin: 0 auto;
		};
	}
}

.footer-collapse{
	background-color: #222;

	a{
		cursor: pointer;
		&:hover{
			text-decoration: none;
			color: #fff;

		}
	}
	ul{
		@include respond-to($md-break){
			padding-left: 15px;
		}
	}

	li{
		padding: 5px;
		color: #f2f2f2;
		text-transform: uppercase;
		font-size: 0.8em;
	}
}

#contact-info{
	li{
		text-transform: lowercase !important;

		&:nth-child(3){
			text-transform: capitalize !important;
		}

		&:nth-child(4){
			text-transform: capitalize !important;
		}

	}
}
// footer scss code

.active-nav-link{
    border-bottom: 2px solid;
}


.dropdown-user-account{
	width: 85px;
	max-width:105px;

	a{
		position: relative;
		span{
			&:nth-child(1){
				position: absolute;
				top: 4px;
			}
			&:nth-child(2){
				position: absolute;
				right: 0;
				top: 6px;

			}
		}
	}

	@include respond-to($lg-break){

	};
}

.desktop-login-help{
	width: 190px;

	.dropdown-toggle::after {
	    position: absolute;
	    top: 8px;
	    right: 13px;
		display: none;
	}

	a{
		// width: 50%;
		// display: inline-flex;
	}

	.dropdown-menu{
		top: 10px !important;
		background-color: #222;
		border: 2px solid lighten(#222, 3%);
		width: 50%;
		// display: inline-flex;

		a{
			display: flex;
			justify-content: end;
		}

	}

}

.loggedin-btns{
	// border: 1px solid gold;

	.lg-box{
		width: 50% !important;
		&:nth-child(2){
			display: inline-block !important;
		}
	}
}

.custom-menu-open{
	right: 0;
	transition: all .6s;
}

.custom-menu-closed{
	right: -250px;
	transition: all .4s;
}

nav{
    // border: 1px solid red !important;
    // box-shadow: 0 0 20px #e5e5e5;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.desktop-login-help{
	position: absolute;
	top: 0;
	right: 30px;
	// display: flex !important;
	// height: 100%;
	// align-items: center;

	.custom-menu{
		position: absolute;
		background-color: #222;
		top: 30px;
		transition: all .6s;
		z-index: 999999;
		text-align: right !important;
		box-shadow: 0px 0px 1px #e5e5e5;

		a{
			color: #fff;
		}
	}

	a{
		// color: #fff;
		color: #222;
		text-transform: uppercase;
		font-size: 0.6em;
	}

}

.dsktp-a{
	width: 50%;
	position: absolute;
	padding-top: 5px;

	&:nth-child(1){
		right: 100px;
		text-align: right;
	}

	&:nth-child(2){
		right: 0;
	}

}

.mobile-login-help{
	height: 20px;
	background-color: #222;
	width: 100%;
	position: relative;
	z-index: 102;
	display: flex;
	justify-content: flex-end;
	border-bottom: 0px;

	.custom-menu{
		position: absolute;
		background-color: #222;
		top: 20px;
		transition: all .6s;

	}

	a{
		color: #fff;
		text-transform: uppercase;
		font-size: 0.5em;
		display: flex;
		align-items: center;
		&:nth-child(1){
			margin-right: 10px;
		}

		&:nth-child(2){
			padding-right: 5px;
		}
	}
}

#nav-main{
    position: relative;
    z-index: 101;
    // background-color: #EFEFEF;
	background-color: #222;
	// background-color: #222;

	@include respond-to('(max-width: 768px)'){
		background-color: #222;
		color: #f2f2f2;
	};

	@include respond-to($lg-break){
		background-color: #d2d2d2;
	};

    .p-2{
        max-height: 100px;
        &:nth-child(2){
            width: calc(45%/2);
            // background-color: #e5e5e5;
        }
        &:nth-child(4){
            width: calc(45%/2);
			@include respond-to($md-break){
				text-align: end;
			};
            // background-color: #e5e5e5;
        }

        &:nth-child(1){
            width: 55%;
            text-align: center;
        }

        &:nth-child(3){
            display: none;
        }


        @include respond-to($lg-break){
            &:nth-child(1){
                width: 100%;
                // border: 1px solid green;
                max-height: 65px;
                // background-color: #222;
				// background-color: ;
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                // border: 1px solid dodgerblue;
                display: flex;
                width: 100%;
				font-weight: 600;
				font-size: 12px;
            }
            &:nth-child(4){
                display: none;
            }
        };
    }
}

.links-nav{
    // background-color: #d2d2d2;
	// border: 1px solid red;
	top: 5px;
	background-color: #222;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
	order: 2;
	height: 70px;

    ul{
        width: 80%;
        // border: 1px solid black;
        display: flex;
        justify-content: center;

        li{
            display: inline-block;
            // border: 1px solid black;
            padding: 10px;

            a{
                // color: #010101;
				color: #f2f2f2;
            }

			@include respond-to($md-break){

			};
        }
    }

    .search-basket-nav{
        position: absolute;
        width: 20%;
        top:20px;
        left: auto;
        right: 0;
        font-size: 1.5em;
		color: #222;
		padding-right: 40px;
		text-align: end;

		@include respond-to('(max-width: 767px)'){
			color: #fff;
		};

        // border: 1px solid pink;

    }
}

.menu-nav{
	order: 1;
}

.logo-box{
	// border: 1px solid red;
	width: 3.5%;
	position: absolute;
	z-index: 100;
	top: 21px;
	left: 40px;

	img{
		// border: 1px solid gold;
		width: 100%;
	}
}

.logo-nav{
	position: relative;
	order: 2;
	@include respond-to($lg-break){
		order: 1;
	};

    img{
        width: 27%;
		position: relative;
        max-height: 80px;
		top: 6px;

        @include respond-to($sm-break){
            max-width: 72px;
        }

        @include respond-to($md-break){
            // max-width: 120px;
			top: 6px;
        }

		@include respond-to($md-break){
            max-width: 62px;
			top: 6px;
        }
    }
}

.vue-hidden{
    visibility: hidden;
}

.main-menu{
    padding: 0 !important;
	width: 100%;
    h4{
        font-size: 1.2em;
        text-align: center;
        padding: 10px 0 10px 5px;
        font-weight: bold;
    }

	a{
        // padding-left: 20px;
        color: #010101;
        // &::before{
        //     content: '\002d \00a0'
        // }
    }
}

.menu-btn{
    width: 100%;
    max-width: 100%;
    transform: scale(0.6) translate(-30%, 0);
    position: relative;
    top: 8px;
    left: 5px;

	@include respond-to($md-break){
		left: -25px;
	};

    .bar{
        width: 38px;
        margin: 5px auto;
        height: 5px;
        // border: 1px solid #d2d2d2;
        background-color: #f2f2f2;
    }
}

// menu open & closed classes

.menu-closed{
    // display: none;
    // top: -100%;
    transform:translate(0, -105%);
    transition: all 1s;

	@include respond-to($md-break){
		transform:translate(0, -135%);
	};
}

.menu-open{
    transform:translate(0, 0%);
    // top: auto;
    transition: all 1s;
}

//

.menu-box{
    width: 100%;
    position: absolute;
    z-index: 99;
    background-color: #f2f2f2;
    padding-bottom: 20px;
    box-shadow: 0 0 20px #e5e5e5;
	border-bottom: 1px solid #d2d2d2;
	height: 500px;
	overflow-y: scroll;

	@include respond-to($lg-break){
		height: 300px;
		overflow-y: hidden;
	};

    .nav-link{
        border-radius: 0;
        &.active{
            transition: all .2s;
            // background-color: #e5e5e5;
            background: url('/assets/main/dust_scratches.png');
            background-position: center;
            font-weight: bold;
            text-shadow: 1px 0px grey;
            font-size: 1.2em;
        }

        a{
            color: #010101;
        }

        @include respond-to($md-break){
            // width: 25%;
            border: 1px solid lighten(#d2d2d2, 10%);
            padding: 30px;
            text-align: center;
        };
    }

    // .p-2{
	// 	width: 100%;
    //     // &:nth-child(1){
    //     //     width: 40%;
    //     // }
    //
    //     @include respond-to($md-break){
    //
    //         width: 100%;
    //     };
    // }

}

.content-livingroom-nav{
	.p-2{
		// border: 1px solid green;
		height: 300px;
		justify-content: center;
		align-items: center;
		display: flex;

		&:nth-child(1){
			width: 25%;
			border-right: 1px solid #d2d2d2;
		}

		&:nth-child(2){
			width: 75%;
			position: relative;
		}
	}

	.nav-box{
		height: 200px;
		border: 1px solid #d2d2d2;
		width: calc(96%/3);
		padding: 10px;
		display: inline-flex;
		background: url('/assets/main/e1-dark.jpeg');
		background-size: cover;
		background-position: center;
		margin-right: 15px;

		&:nth-child(1){
			margin-left: 12px;
		}
	}

	.close-menu{
		position: absolute;
		right: 10px;
		top: 5px;
		font-size: 1.2em;
		// border: 1px solid red;
		// background-color: gold;
	}
}

.dl-box-content-nav{
	width: 100%;

	ul{
		// border: 1px solid black;
		padding-left: 30px;

	}
}

.nav-menu-link{
	// padding: 10px 0 10px 0;
	// background-color: gold;
	margin: 5px auto;
	// margin: 10px auto 10px auto;
}

.mobile-collection-links{
	text-align: center;
	.btn-menu-link{
		border-radius: 0;
		width: 100%;
		border: 1px solid #d2d2d2;
		background-color: darken(#d2d2d2, 4%);
		// background-color: red;

		padding: 25px 0 25px 0;
		text-transform: uppercase;

		&:nth-child(1n+2){
			// background-color: gold;
			margin-top: 30px;
		}

		@include respond-to($md-break){
				padding: 35px 0 35px 0;
		};
	}

	p{
		margin-bottom: 20px;
	}
}

.menu-link{
    // border: 1px solid red;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid lighten(#d2d2d2, 10%);
    > div{
        display: inline-block;
        width: 80%;
        padding-right: 20px;

    }

    &:hover{
        transition: all .2s;
        background: -webkit-linear-gradient(90deg, rgb(46, 49, 52), rgb(135, 140, 145));
        background: linear-gradient(90deg, rgb(46, 49, 52), rgb(135, 140, 145));
        background: none;
        font-weight: bold;
        span{
            transition: all .2s;
            transform: scale(1.8);
        }
    }


    @include respond-to($md-break){
        width: 50%;
        display: inline-block;
    };
}

// search bar open & closed css styles

.f-active{
    color: darkgoldenrod !important;
}

.f-bskt-active{
	color: lighten(forestgreen, 10%);
}

.search-hidden{
    height: 0px;
    overflow: hidden;
    transition: all .3s;
}

.search-open{
    height: 51px;
    transition: all .3s;
}

// search bar open & closed css styles

.search-bar{
    border-top: 1px solid #222;
    background-color: #EFEFEF;
    position: relative;
    // z-index: 101;

	@include respond-to($md-break){
		border-top: 1px solid #D2D2D2;
	};
}


.search-input{
    opacity: 0;
}

#search-form{
    .p-2{
        &:nth-child(1){
            width: 90%;

            @include respond-to($sm-break){
                // width: 70%
            };
        }

        &:nth-child(2){
            width: 10%;
            span{
                width: 100%;
                font-size: 1.2em;
            }

            @include respond-to($sm-break){
                width: 10%;
            };
            @include respond-to($sm-break){
                width: 9%;
            };
        }
    }
}



.inpField{
    padding: 4px 4px 4px 20px;
    border: 1px solid darken(#f2f2f2, 6%);
    float: right;
    width: 100%;
    border-radius: 10px;

    @include respond-to($sm-break){
        width:100%;
    };

    @include respond-to($md-break-plus){
        width: 60%;
    };

    @include respond-to($lg-break){
        width: 50%;
    };

    @include respond-to($xl-break){
        width: 50%;
    };

}

.search-basket-nav{
	order: 3;

	@include respond-to('(max-width: 340px)'){
		font-size: 1.05em;
	};

    text-align: center;
    font-size: 1.2em;

    span{
        padding: 5px;
        cursor: pointer;
		color: #fff;

		@include respond-to($lg-break){
			// color: #222;
			color: #f2f2f2;
		};

        &:nth-child(1){
            &:hover{
                color: darkgoldenrod;
            }
        }

        &:nth-child(2){
            &:hover{
                color: lighten(forestgreen, 10%);
            }
        }
    }
}

.basket-box{
	border: 1px solid darken(#F2F2F2, 3%);
	box-shadow: 0 0 20px darken(#e5e5e5, 10%);
	background-color: #F2F2F2;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	position: absolute;
	transition: all .4s;
	z-index: 100;
	right: 0;

	@include respond-to($md-break){
		width: 45%;
		height: 450px;
	};

	@include respond-to($lg-break){
		width: 30%;
		height: 500px;
	};

	@include respond-to($xl-break){
		// width: 40%;
	};


}

.custom-divider{
	width: 30%;
	margin: auto;
}


#basket-container{
	// height: 300px;
	// overflow-y:scroll;
	// overflow-x: hidden;
	background-color: lighten(#d2d2d2, 10%);

	.p-2{
		width: 100%;
		height: 112px;
		padding-top: 0 !important;

		&:nth-child(2n+1){
			background-color: lighten(#d2d2d2, 10%);
		}

		&.basket-info{
			height: 77px;
			padding: 15px !important;
			background-color: #222;
			color: #fff;
		}
	}

	.item{
		img{
			width: 25%;
			max-height: 90px;
			margin-top: 10px;
			float: left;
		}

	}

	#item-details{
		// border: 1px solid green;
		padding-left: 20px;
		float: left;
		width: 60%;
		height: 100px;
		margin-top: 10px;
		h4{
			font-size: 1.3em;
		}
	}

	.acc-total{
		font-weight: bold;
	}

	.item-delete{
		// border: 1px solid orange;
		float: right;
		width: 15%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.4em;
	}

	.empty-message{
		width: 100%;
		text-align: center;
		padding: 20px;
	}

	@include respond-to($md-break){

	};
}

.basket-info{
	span{
		display: flex;
		justify-content: center;
	}
}

.hasItems{
	color: lighten(forestgreen, 10%) !important;
}

.checkout-info{
	background-color: lighten(#d2d2d2, 6%);
	height: 160px !important;

	.total-box{
		background-color: #010101;
		color: #fff;
		text-align: center;
		padding: 10px;

	}
}

.basket-closed{
	transform: translate(0, -160%);
}

.basket-open{
	transform: translate(0, 0%);
}


// home page slide show styles
.slideshow-div{
	text-align: center;
	color: #f2f2f2;

	h1{
		margin-top: 50px;
		font-weight: bold;
		padding: 5px 0 5px 0;

		@include respond-to('(max-width:767px)'){
			font-size: 1.6em;
		};

		@include respond-to($sm-break){
			margin-top: 120px;
		};

		@include respond-to($md-break){
			margin-top: 230px;
		};



	}
	h4{
		padding: 5px 0 5px 0;
		font-weight: 300;
		letter-spacing: 2px;
		@include respond-to('(max-width:767px)'){
			font-size: 1.1em;
		};

	}
	a{
		margin-top: 30px;
		width: 150px;
		font-size: 0.8em;
	}
}

.slider-column{
	padding-left: 0px;
	padding-right: 0px;
}

.home{
	position: relative;
	top: 88px;
	min-height: 50%;

	@include respond-to($lg-break){
		top: 75px;
	};
}

.home-slide{
    div{
        width: 100%;
        height: 200px;
        background-size: cover !important;
        background-position: center !important;

		@include respond-to($sm-break){
            height: 450px;
        };

        @include respond-to($md-break){
            height: 550px;
        };

        @include respond-to($lg-break){
            // height: 427px;
        };

        @include respond-to($xl-break){
            height: 630px;
        };
    }
}

.home-main{
	.row{
		@include respond-to($lg-break){
			width: 95%;
			margin: 0 auto;
		};
	}
}

.category-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px solid;
	color: #fff;
	font-size: 1.1em;
	text-shadow: 2px 0px #010101;

	.card-img-bgrnd{
	    height: 163px;
		width: 100%;
		margin: 0 auto;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($sm-break){
			height: 215px;
			font-size: 1.3em;
		};

		@include respond-to($md-break){
			height: 140px;
			width: 100%;
		};

		@include respond-to($lg-break){
			height: 230px;
			width: 100%;
		};
	}

}

.button-box{
	padding-top: 15px;
}

.custom-separate{
	margin: 30px auto;
	width: 80%;
	height: 2px;
	background-color: #f2f2f2;
	border: 1px solid darken(#f2f2f2, 5%);
}

.featured-prod-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px;

	.card-img-bgrnd{
	    height: 120px;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($md-break){
			height: 150px;
		};
	}

	.card-body{
		text-align: center;
		padding: 10px 0 10px 0;
			font-size: 12px;
		h6{

		}

		a{
			color: #222;
		}
	}
}

.blog-post-card{
    width: 100%;
    margin: 10px auto;
	border-radius: 0px;
	border: 0px;

	.card-img-bgrnd{
	    height: 410px;
	    background-position: center !important;
	    background-size: cover !important;

		@include respond-to($md-break){
			height: 520px;
		};
	}

	.card-body{
		padding: 10px 0 10px 0;
	}

	.post-details{
		font-size: 0.8em;
		font-style: italic;
		font-weight: 100;
	}

	a{
		position: relative;
		top: 10px;
		color: #010101;
		font-weight: bold;
	}
}

.breadcrumb-container{
	nav{
		display: block;
		top: 88px;
		left: 0;
		z-index: 1;
		box-shadow: 0 0 0;

		// @include respond-to('(max-width: 340px)'){
		// 	top: 91px;
		// };

		@include respond-to($sm-break){
			top: 85px;
		};

		@include respond-to($md-break){
			top: 87px;
			height: 43px;
		};

		@include respond-to($lg-break){
			top: 91px;
		};
	}
}

.breadcrumb-item{

	@include respond-to('(max-width: 340px)'){
		font-size: 0.8em;
	};

	a{
		color: #010101;
	}
}

.breadcrumb{
	background-color: #fff;
	font-size: 0.7em;
	padding-left: 1.4rem;
	text-transform: uppercase;

	@include respond-to($md-break){
		padding-left: 2.5rem;
		font-size: 0.9em;
	};
	@include respond-to($lg-break){
		// padding-left: 7rem;
	};

	li{
		&:nth-child(1n+2){
			&::before{
				content: '>'
			}
		}

	}
}


// products page styling

.products-container{
	position: relative;
	top: 130px;
	// border: 1px solid black;
	margin-bottom: 80px;

	img{
		width: 100%;
		height: auto;
	}


	@include respond-to($sm-break){
		top: 125px;
	};

	@include respond-to($md-break){
		top: 165px;
	};

	@include respond-to($lg-break){
		width: 90%;
		margin: auto;
	};

}


.product-image-main{
	width: 100%;
	// height: 200px;
	// border: 1px solid #d2d2d2;
	@include respond-to($md-break){
		width: 94%;
		margin: 0 auto;
	};

	@include respond-to($lg-break){
		// width: 70%;
	};

	// @include respond-to($xl-break){
	// 	text-align: center;
	// 	img{
	// 		width: 90%;
    //
	// 	}
	// 	width: 70%;
	// };

}

.prodimg-box{
	width: 100%;
	text-align: center;
	// border: 1px solid red;
	img{
		width: calc(95%/4);
		// display: inline-flex;

		@include respond-to('(max-width: 340px)'){
			width: calc(95%/4);
		};

		@include respond-to($lg-break){
			// width: 90%;
		}
	}

	@include respond-to($md-break){
		width: 94%;
		margin: 0 auto;
	};

	@include respond-to($lg-break){
		// width: 30%;
		margin: 0 auto;
		position: relative;
		// top: -130px;
		transition: all .3s;
	};

}

.product-image-small{
	width: calc(100%/3);
	height: 100px;

	&:nth-child(3){
		border-left: 1px solid #d2d2d2;
		border-right: 1px solid #d2d2d2;

	}

	@include respond-to($lg-break){
		width: calc(100%/3);
	};
}

.product-info-sp{
	width: 90%;
	margin: 0 auto;

	ul{

	}

	li{
		&:nth-child(1){
			font-weight: bolder;
		}

		&:nth-child(2){
			padding: 0 0 25px 0;
			font-size: 1.1em;

			@include respond-to($lg-break){
				font-size: 1.5em;
			};
		}

		&:nth-child(3){
			text-transform: uppercase;
		}

		text-align: center;
	}
}

.addBasket-row{
	// max-width: 430px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	height: 35px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	.box{
		width: 25%;
		border: 1px solid #222;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: center;
		padding-top: 1px;

		&:nth-child(2n+2){
			// background-color: red;
		}

		&:nth-child(1){
			width: 10%;
		}
		&:nth-child(2){
			width: 15%;
			display: flex;
			flex-direction: column;
			font-size: 0.5em;
			border: 1px solid #d2d2d2;
			p{
				width: 100%;
				cursor: pointer;
				transition: all .3s;

				&:nth-child(1){
					border-bottom: 1px solid #d2d2d2;
				}

				&:nth-child(2){
					span{
						position: relative;
						top: 3px;
					}
				}

				span{

					&:hover{
						transform: scale(1.3);
					}
				}
			}

			@include respond-to($lg-break){
				width: 10%;
			};
		}
		&:nth-child(3){
			width: 63%;
			cursor: pointer;
			justify-content: flex-start;
			padding-left: 5px;
			background-color: #222;
			color: #fff;
			p{
				position: relative;
				top: 1px;
			}


			@include respond-to($lg-break){
				width: 68%;
			};
		}
		&:nth-child(4){
			border: 0px;
			width: 12%;
			span{
				font-size: 1.3em;
				position: relative;
				top: 2px;
				cursor: pointer;
				transition: all .3s;

				&:hover{
					transform: scale(1.3);
				}
			}
		}
	}
}

.quantity-controls{
	p{
		display: flex;
		align-content: center;
	}
}

#prod-description{

	ul{
		margin-top: 10px;
		li{
			&:before{
				content: '-'
			}
		}
	}

}

.pr-info-card{
	border: 0;

	.card-header{
		text-transform: uppercase;
		padding-left: 2px;
		padding-bottom: 10px;
		background-color: #fff;
		border-top: 1.2px solid #d2d2d2;
		border-radius: 0px;
		border-bottom: 0;

		a{
			font-size: 0.9em;
			color: #222222;

			&:hover{
				text-decoration: none;
			}

			span{
				float: right;
				font-size: 0.7em;
			}
		}
	}
}

.related-products{

	@include respond-to($md-break){
		margin-bottom: -120px;
	};

	@include respond-to($lg-break){
		margin-bottom: -80px;
	};


	h5{
		text-transform: uppercase;
		font-weight: bolder;
	}

	.card-img-bgrnd{
		@include respond-to($lg-break){
			height: 120px;
		};

		@include respond-to($xl-break){
			height: 140px;
		};

	}

	.card-title{
		font-size: 1em;
	}
}






.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
