@charset "UTF-8";
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated2 {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.title {
  padding: 0 0 10px 20px;
  position: relative;
  top: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5; }

.inpFields {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 5px;
  width: 80%;
  margin: 0 0 20px auto;
  outline: none; }

.btn-primary {
  background-color: #001C26;
  border: 2px solid #f2f2f2;
  box-shadow: 0 2px 332px #e5e5e5; }
  .btn-primary:hover {
    cursor: pointer;
    background-color: #fff;
    color: #001C26;
    border: 2px solid #001C26; }

.btn-info {
  background-color: #384E5B;
  border: 2px solid #f2f2f2; }
  .btn-info:hover {
    cursor: pointer;
    background-color: #fff;
    color: #384E5B;
    border: 2px solid #384E5B; }
    .btn-info:hover a {
      color: #384E5B; }
  .btn-info a {
    color: #fff; }
    .btn-info a:hover {
      color: #384E5B; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body,
html {
  width: 100%;
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

ol,
ul {
  list-style: none; }

hr {
  border: 0;
  height: 1px;
  background: #ccc; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html,
input,
select,
textarea,
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative; }

.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }

.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }

.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }

.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }

.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }

.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }

.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }

.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }

.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
body, html {
  font-family: 'Quicksand', sans-serif !important;
  height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #fff; }

.active-nav-link {
  border-bottom: 2px solid; }

nav {
  box-shadow: 0 0 20px #e5e5e5;
  position: fixed;
  width: 100%;
  z-index: 99; }

#nav-main {
  position: relative;
  z-index: 101;
  background-color: #fff; }
  #nav-main .p-2 {
    max-height: 100px; }
    #nav-main .p-2:nth-child(2) {
      width: calc(45%/2); }
    #nav-main .p-2:nth-child(4) {
      width: calc(45%/2); }
    #nav-main .p-2:nth-child(1) {
      width: 55%;
      text-align: center; }
    #nav-main .p-2:nth-child(3) {
      display: none; }
    @media only screen and (min-width: 768px) {
      #nav-main .p-2:nth-child(1) {
        width: 100%;
        max-height: 65px;
        background-color: #f2f2f2; }
      #nav-main .p-2:nth-child(2) {
        display: none; }
      #nav-main .p-2:nth-child(3) {
        display: flex;
        width: 100%;
        font-size: 1.2em; }
      #nav-main .p-2:nth-child(4) {
        display: none; } }

.links-nav {
  background-color: #fff;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  position: relative; }
  .links-nav ul {
    width: 80%;
    display: flex;
    justify-content: center; }
    .links-nav ul li {
      display: inline-block;
      padding: 10px; }
      .links-nav ul li a {
        color: #010101; }
  .links-nav .search-basket-nav {
    position: absolute;
    width: 20%;
    top: 8px;
    left: auto;
    right: 0;
    font-size: 1.5em; }

.logo-nav img {
  width: 80%;
  max-height: 80px; }
  @media only screen and (min-width: 576px) {
    .logo-nav img {
      max-width: 120px; } }
  @media only screen and (min-width: 768px) {
    .logo-nav img {
      max-width: 120px; } }

.vue-hidden {
  visibility: hidden; }

.main-menu {
  padding: 0 !important; }
  .main-menu h4 {
    font-size: 1.2em;
    text-align: center;
    padding: 10px 0 10px 5px;
    font-weight: bold; }
  .main-menu a {
    padding-left: 20px;
    color: #010101; }
    .main-menu a::before {
      content: "- "; }

.menu-btn {
  width: 100%;
  max-width: 100%;
  transform: scale(0.6) translate(-30%, 0);
  position: relative;
  top: 0.8px;
  left: 5px; }
  .menu-btn .bar {
    width: 38px;
    margin: 5px auto;
    height: 5px;
    background-color: #010101; }

.menu-closed {
  transform: translate(0, -113%);
  transition: all 1s; }

.menu-open {
  transform: translate(0, 0%);
  transition: all 1s; }

.menu-box {
  width: 100%;
  position: absolute;
  z-index: 99;
  background-color: #f2f2f2;
  padding-bottom: 20px;
  box-shadow: 0 0 20px #e5e5e5; }
  .menu-box .nav-link {
    border-radius: 0; }
    .menu-box .nav-link.active {
      transition: all .2s;
      background: url("/assets/main/dust_scratches.png");
      background-position: center;
      font-weight: bold;
      text-shadow: 1px 0px grey;
      font-size: 1.2em; }
    .menu-box .nav-link a {
      color: #010101; }
    @media only screen and (min-width: 768px) {
      .menu-box .nav-link {
        width: 25%;
        border: 1px solid #ececec;
        padding: 30px;
        text-align: center; } }
  .menu-box .p-2 {
    width: 60%; }
    .menu-box .p-2:nth-child(1) {
      width: 40%; }
    @media only screen and (min-width: 768px) {
      .menu-box .p-2 {
        width: 100%; }
        .menu-box .p-2:nth-child(1) {
          width: 100%; } }

.menu-link {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ececec; }
  .menu-link > div {
    display: inline-block;
    width: 80%;
    padding-right: 20px; }
  .menu-link:hover {
    transition: all .2s;
    background: -webkit-linear-gradient(90deg, #2e3134, #878c91);
    background: linear-gradient(90deg, #2e3134, #878c91);
    background: none;
    font-weight: bold; }
    .menu-link:hover span {
      transition: all .2s;
      transform: scale(1.8); }
  @media only screen and (min-width: 768px) {
    .menu-link {
      width: 50%;
      display: inline-block; } }

.f-active {
  color: darkgoldenrod !important; }

.f-bskt-active {
  color: #2cb42c; }

.search-hidden {
  height: 0px;
  overflow: hidden;
  transition: all .3s; }

.search-open {
  height: 51px;
  transition: all .3s; }

.search-bar {
  border: 1px solid #eaeaea;
  background-color: #e5e5e5;
  position: relative;
  z-index: 101; }

.search-input {
  opacity: 0; }

#search-form .p-2:nth-child(1) {
  width: 90%; }
#search-form .p-2:nth-child(2) {
  width: 10%; }
  #search-form .p-2:nth-child(2) span {
    width: 100%;
    font-size: 1.2em; }
  @media only screen and (min-width: 576px) {
    #search-form .p-2:nth-child(2) {
      width: 10%; } }
  @media only screen and (min-width: 576px) {
    #search-form .p-2:nth-child(2) {
      width: 9%; } }

.inpField {
  padding: 4px 4px 4px 20px;
  border: 1px solid #e3e3e3;
  float: right;
  width: 100%;
  border-radius: 10px; }
  @media only screen and (min-width: 576px) {
    .inpField {
      width: 50%; } }
  @media only screen and (min-width: 768px) {
    .inpField {
      width: 50%; } }
  @media only screen and (min-width: 992px) {
    .inpField {
      width: 50%; } }
  @media only screen and (min-width: 1200px) {
    .inpField {
      width: 50%; } }

.search-basket-nav {
  text-align: center;
  font-size: 1.2em; }
  .search-basket-nav span {
    padding: 5px;
    cursor: pointer; }
    .search-basket-nav span:nth-child(1):hover {
      color: darkgoldenrod; }
    .search-basket-nav span:nth-child(2):hover {
      color: #2cb42c; }

.basket-box {
  border: 1px solid #eaeaea;
  box-shadow: 0 0 20px #cccccc;
  background-color: #F2F2F2;
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  transition: all .4s;
  z-index: 100;
  right: 0; }
  @media only screen and (min-width: 768px) {
    .basket-box {
      width: 40%; } }
  @media only screen and (min-width: 992px) {
    .basket-box {
      width: 30%; } }

.custom-divider {
  width: 30%;
  margin: auto; }

#basket-container {
  background-color: #ececec; }
  #basket-container .p-2 {
    width: 100%;
    height: 112px;
    padding-top: 0 !important; }
    #basket-container .p-2:nth-child(2n+1) {
      background-color: #ececec; }
    #basket-container .p-2.basket-info {
      height: 52px;
      background-color: #010101;
      color: #fff; }
  #basket-container .item img {
    width: 25%;
    max-height: 90px;
    margin-top: 10px;
    float: left; }
  #basket-container #item-details {
    padding-left: 20px;
    float: left;
    width: 60%;
    height: 100px;
    margin-top: 10px; }
    #basket-container #item-details h4 {
      font-size: 1.3em; }
  #basket-container .acc-total {
    font-weight: bold; }
  #basket-container .item-delete {
    float: right;
    width: 15%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em; }
  #basket-container .empty-message {
    width: 100%;
    text-align: center;
    padding: 20px; }

.basket-info span {
  display: flex;
  justify-content: center; }

.hasItems {
  color: #2cb42c; }

.checkout-info {
  background-color: #e1e1e1;
  height: 160px !important; }
  .checkout-info .total-box {
    background-color: #010101;
    color: #fff;
    text-align: center;
    padding: 10px; }

.basket-closed {
  transform: translate(0, -120%); }

.basket-open {
  transform: translate(0, 0%); }

.home {
  position: relative;
  top: 50px; }
  @media only screen and (min-width: 768px) {
    .home {
      top: 110px; } }

.home-slide {
  margin-top: 20px; }
  .home-slide div {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    background-position: center !important; }
    @media only screen and (min-width: 768px) {
      .home-slide div {
        height: 300px; } }
    @media only screen and (min-width: 992px) {
      .home-slide div {
        height: 427px; } }
    @media only screen and (min-width: 1200px) {
      .home-slide div {
        height: 517px; } }

.category-card {
  width: 100%;
  margin: 10px auto;
  border-radius: 0px;
  border: 0px solid; }
  .category-card .card-img-bgrnd {
    height: 120px;
    background-position: center !important;
    background-size: cover !important; }
    @media only screen and (min-width: 768px) {
      .category-card .card-img-bgrnd {
        height: 190px; } }
  .category-card .card-body {
    text-align: center; }

.custom-separate {
  margin: 30px auto;
  width: 80%;
  height: 2px;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5; }

.blog-post-card {
  width: 100%;
  margin: 10px auto;
  border-radius: 0px; }
  .blog-post-card .card-img-bgrnd {
    height: 210px;
    background-position: center !important;
    background-size: cover !important; }
    @media only screen and (min-width: 768px) {
      .blog-post-card .card-img-bgrnd {
        height: 300px; } }
  .blog-post-card .post-details {
    font-size: 0.8em;
    font-style: italic;
    font-weight: 100; }
  .blog-post-card a {
    position: relative;
    top: 10px;
    color: #010101;
    font-weight: bold; }

.products-container {
  position: relative;
  top: 60px;
  border: 1px solid black; }
  .products-container img {
    width: 100%;
    height: auto; }

#product-page-image {
  margin-bottom: 20px; }
  @media only screen and (min-width: 576px) {
    #product-page-image {
      margin-bottom: 70px; } }
  @media only screen and (min-width: 768px) {
    #product-page-image {
      margin-bottom: 0; } }

.product-image-main {
  width: 100%;
  border: 1px solid #d2d2d2; }

.product-image-small {
  width: calc(100%/3);
  height: 100px; }
  .product-image-small:nth-child(3) {
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2; }

/*# sourceMappingURL=main.css.map */
