<div class="row">
    <hr>
    <h3>View All blog images</h3>
    <!-- place in twig template to render all current added images -->
    <div class="col-xs-12">
        <p>{{data}}</p>
    </div>
</div>
