{% for brand in brands %}
    {% if (brand.brand_array|length) > 1 %}
    <div class="col-12 col-sm-6 col-lg-4">
        <br>
        <h4>{{brand.brand_letter | capitalize}}</h4>

        <ul class="list-group list-group-flush">
        {% for name in brand.brand_array %}
            <li class="list-group-item brand-title-listing">
                <a href="/products/brands/{{name.brand_slug | lower}}">{{name.brand_name | capitalize}}</a>
            </li>
        {% endfor %}
        </ul>

        <br>
        <br>
    </div>
    {% endif %}
{% endfor %}
