<div class="row">
    <p><span class="font-weight-cold">NOTE: </span><span class="text-muted">All items will be dispatched within 2 working days. Delivery days are from when order has been dispatched</span> </p>
    <br>
    <form id="shipping-method-radios">
        {% for rates in shipping_methods %}
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="radio" class="rate-radio" aria-label="Radio button for following text input" data-rate-id="{{rates.id}}" data-order-id="{{order.id}}" {% if default_shipping == rates.id %}checked="checked"{% endif %}>
                </div>
            </div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp; <strong>£{{rates.amount / 100 | number_format(2)}}</strong> - {{rates.description}}</p>
        </div>
        {% endfor %}
    </form>
</div>
